html {
  margin: 0;
  font-size: 100%;
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

.hideit {
  display: none;
  visibility: hidden;
}

body {
  margin: 0;
}

.toggle {
  display: none;
  appearance: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  margin: 0;
  width: 100%;
  background: #eeeeee;
}

main {
  margin-top: 2.4em;
  transition: 500ms;
  transform: translateX(0%);
}

.head {
  height: 2.4em;
}

.heading {
  display: inline-block;
  padding: 0px 20px;
  color: #565D64;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 2.4em;
}

ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  height: 2.4em;
}

ul li {
  display: inline-block;
  margin: 0;
}

ul li a,
ul li label {
  padding: 0.625em 1.250em;
  height: 2.4em;
  color: #777777;
  text-decoration: none;
  white-space: nowrap;
  line-height: 2.4em;
  cursor: pointer;
}

ul li a:hover,
ul li label:hover {
  background-color: #92cd00;
  color: whitesmoke;
}

.searchnav {
  padding: 0em 1.250em;
}

.search {
  margin: 0;
  padding-left: 0;
  outline: none;
  border: none;
  box-shadow: 0 0 0 1px #777777;
  color: #777777;
  font-size: 100%;
}

.search:focus {
  box-shadow: 0 0 0 2px #92cd00;
}

input[type="search"]::-webkit-search-cancel-button {
  margin-right: 0.2em;
  -webkit-appearance: searchfield-cancel-button;
}

section {
  display: inline-block;
  float: left;
  margin: 10px;
  padding: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 270px;
  height: auto;
  background-color: #c7c7c7;
}

section:hover {
  box-shadow: 0 0 0 2px #92cd00;
}

.title {
  font-size: 2em;
  margin: 0;
}

section .author {
  margin-top: 0.5em;
  color: #333;
}

section .author a {
  color: inherit;
  text-decoration: none;
}

section .author:hover a {
  text-decoration: underline;
}

section pre {
  overflow: hidden;
  margin-top: 1.5em;
  margin-bottom: 1.4em;
  width: auto;
  height: 190px;
  background-color: whitesmoke;
  box-shadow: 0 0 0 0.65em whitesmoke, 0 0 0 0.7em black;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-size: 1em;
  font-family: 'Source Code Pro', monospace, serif;
}

.preprocessor {
  position: absolute;
  margin-top: -205px;
  margin-left: 203px;
  width:60px;
  height: 0px;
  border-right: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid transparent;
  color:whitesmoke;
  text-align:center;
  font-weight:bold;
  transform:rotate(45deg);
}

.preprocessor.scss,
.preprocessor.sass {
  border-bottom-color: #ce4dd6;
}

.preprocessor.less {
  border-bottom-color: #66bbcc;
}

.preprocessor.stylus {
  border-bottom-color: #a1bc06; 
}

.info a {
  float: right;
  color: #333;
  text-decoration: none;
  opacity: 0;
}

section:hover .info a {
  opacity: 1;
}

.info a:hover {
  text-decoration: underline;
}

section .tags {
  float: left;
}

section .tags a {
  margin-right: 2px;
}

.tags a {
  padding: .25em .6em;
  border-radius: .25em;
  background-color: #34495e;
  color: #ccc;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  font-weight: 500;
  font-size: 75%;
}

.tags a:hover {
  background-color: #395371;
}

aside {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 999;
  overflow-y: auto;
  width: 33%;
  height: 100%;
  background: #333;
}

aside.add {
  right: -33%;
  left:auto;
  transition: 500ms;
  transform:translateX(0%);
}

aside.about {
  right: auto;
  left:-33%;
  transition: 500ms;
  transform:translateX(0%);
}

aside h1 {
  margin-top: 2.4em;
  margin-left: 2em;
  color: whitesmoke;
}

aside h3 {
  margin-left: 2.5em;
  color: whitesmoke;
}

aside form {
  margin-left: 3em;
  width: 80%;
}

aside form * {
  display: block;
  color: whitesmoke;
}

aside form label {
  margin-bottom: 0.4em;
}

aside form input,
aside form textarea {
  margin-bottom: 2em;
  color: #333;
}

aside form input[type="submit"] {
  margin-top: 1em;
}

aside form label input {
  display: inline;
}

aside form label sup {
  display: inline;
}

aside form label sup abbr {
  display: inline;
}

aside form label.example div {
  margin-bottom: 0.4em;
}

aside form label.example i {
  font-size: 85%;
}

aside form label.example i a {
  display: inline;
}

aside form label.example input {
  margin-top: 0.5em;
  margin-bottom: 0;
}

.pp_form label input {
    margin-bottom: 0;
}
.pp_form label {
    margin-bottom: 0.2em;
}

.pp_form {
    margin-bottom: 1em;
}


/* buttons */

ul li a.open,
ul li label.open {
  background-color: #92cd00;
  color: whitesmoke;
}

/* aside add */

aside.add.open {
  transition: 500ms;
  transform:translateX(-100%);
}

main.toleft {
  transition: 500ms;
  transform:translateX(-33%);
}

aside.about.toleft {
  transition: 500ms;
  transform:translateX(-100%);
}

/* aside about */

aside.about.open {
  transition: 500ms;
  transform:translateX(100%);
}

main.toright {
  transition: 500ms;
  transform:translateX(33%);
}

aside.add.toright {
  transition: 500ms;
  transform:translateX(100%);
}

/* mixin.php styles */

article {
  margin-top: 3em;
  margin-right: 25px;
  margin-left: 25px;
}

article .title {
  margin-bottom: 0.4em;
}

article .author {
  display: inline;
  font-weight: bold;
  font-size: 1.5em;
  color: #333;
}

article .author a {
  color: inherit;
  text-decoration: none;
}

article .author:hover a {
  text-decoration: underline;
}

.authorimg {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  vertical-align: sub;
}

article .tags {
  display: block;
  float: right;
  margin-left: 5em;
}

article .tags a {
  margin-left: 2px;
  font-size: 90%;
}

article p {
  font-size: 110%;
}

article pre {
  display: block;
  overflow: scroll;
  padding: 0.65em;
  height: 500px;
  border: 1px solid black;
  background-color: whitesmoke;
  white-space: pre-wrap;
  word-wrap: break-word;
  margin-right: 0.25em;
  font-size: 1em;
  font-family: 'Source Code Pro', monospace, serif;
  width: 700px;
}

article .example {
  display: block;
  margin-left: 0.25em;
  height: 520px;
  border: 1px solid black;
  background-color: transparent;
  width: 720px;
  overflow: hidden;
}

article .example .pen {
  height: 550px;
  width: 720px;
}

.panes {
  display: flex; align-items: center; justify-content: center;
}